@import '../styles/global.scss';

.copyright {
    padding-bottom: 150px;
}

.copyright__title {
    font-size: 18px;
    margin-bottom: 32px;
    color: $dark;
}

.copyright__text {
    font-size: 16px;
    color: $dark;
}