@import '../styles/global.scss';

.filterpage_type {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
    background-color: $main;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.filterpage_breadcrumbs {
    margin-top: 10px;
}

.arrow {
    margin-top: 4px;
    margin-left: 10px;
}