@import '../styles/global.scss';

.videopage_main {
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
    margin: 0 -20px;
    padding: 20px;
    &__banner {
        margin-right: 20px;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 0 0 1px #ccc, 2px 3px 3px 0 rgba(0,0,0,0.1);
        width: 200px;
        height: 300px;
        flex: 1 0 200px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.videopage_main_info {
    display: flex;
}

.videopage_main_subtitle {
    color: $dark;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    padding: 0 20px;
    padding-top: 10px;
    margin: 20px -20px -10px;
}

.videopage_player {
    margin: 0 -20px;
}

.main_content {
    width: 100%;
    flex: auto;
    &__title {
        color: $dark;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__subtitle {
        margin-top: 20px;
        color: $dark;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__ul {
        list-style-type: none;
        li > span {
            color: $dark;
            line-height: 1.7;
            font-size: 13px;
        }

        li > span:first-child {
            margin-right: 4px;
            font-weight: 600;
        }
    }
}

.main_stats {
    flex-wrap: wrap;
    width: 55%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: $lg) {
    .videopage_main__banner {
        margin-bottom: 15px;
        flex: 1 0 300px;
    }
    .videopage_main_info {
        flex-direction: column;
    }
    .main_stats {
        display: block;
        width: 100%;
    }
}