@import '../../styles/global.scss';

.filter {
    transition: all .25s ease-in;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
    padding: 20px;
    margin-bottom: 20px;
    height: 0px;
    display: none;
}

.filter_active {
    flex-direction: column;
    display: flex;
    height: auto;
}

.filter_button {
    transition: all .15s ease-in;
    border: none;
    background-color: $main;
    width: 100%;
    height: 32px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: $main_hover;
    }
}


.filter_ui_button {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
    background-color: $main;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    span {
        margin-right: 10px;
    }
    &:hover {
        cursor: pointer;
        background-color: $main_hover;
    }
}

.filter_arrow {
    transition: all .15s ease-in;
    margin-top: 4px;
}

.filter_arrow_active {
    transition: all .15s ease-in;
    transform: rotate(90deg);
}