/* variables */

$main: #0095ff;
$main_hover: #037fd8;
$dark: #444;
$light_dark: #888;

/* z-index levels */
$z-1: 1; // default
$z-2: 2; // first level
$z-3: 3; // second level
$z-4: 4; // third level (maybe i need this)
$z-5: 5; // modals
$z-6: 6; // maybe i'll have to over modals
$z-7: 10; // absolute level


/* media queries */

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;